<main> 
<article>
<h2>Aanbod</h2>
<h3>Producten</h3>
<div class="flex">
<p>Haircity werkt met de haarverzorgingsproducten van het merk Joico en I.C.O.N.. Deze producten herstellen, versterken en laat je haar weer glanzen. Het merk Joico heeft een aanbod van producten die je kan indelen in verschillende segmenten: Curl, K-PAK, K-PAK color therapy, daily care, smooth cure, body luxe, color balance, color infuse, color endure, moisture recovery en style & finish.</p>
<img src="~/images/9.jpg" alt="Joico"></div>
<div class="flex"><p>Het merk I.C.O.N. heeft een aanbod van producten die je kan indelen in verschillende segementen: Regimedies, Mixology, Liquid fashion, India, Cure, Mr.A, The shave, Ecoplex, Stained glass, Ecotech color en Playful brights.</p>
<img src="~/images/ICON.jpg" alt="ICON"></div>

<h3>Schoonheidsbehandelingen</h3>
<div class="flex">
<p>Op bepaalde tijdstippen komt een schoonheidsspecialist langs bij Haircity om u een schoonheidsbehandeling te geven. Bekijk de Facebook pagina van Haircity voor meer informatie over dit onderwerp. Wenst u hieraan deel te nemen? Geef een bevestiging via het telefoonnummer van Haircity.</p>
</div>
</article>
</main>  
<footer>
    <a href="https://www.facebook.com/Hair-city-130543194025070">Facebook</a>
    @Html.ActionLink("Contact", "Praktisch", "Home", new { @class = "page-scroll" })
</footer>

