<main>
<h2>Afspraak</h2>   
<form>
   <p>Kapsalon Haircity werkt enkel op afspraak. Gelieve op voorhand te bellen naar het nummer 016 62 04 08 of verstuur een bericht via het onderstaande formulier.</p>
   <div id="formulier">
       <p><label>Voornaam: <input type="text" placeholder="Jan" required></label></p>
    <p><label>Familienaam: <input type="text" placeholder="Vervaert" required></label></p>
    <p><label>Telefoonnummer: <input type="tel" placeholder="016 31 78 51" required></label></p>
    <p><label>Email: <input type="email" placeholder="janvervaert@hotmail.com" required></label></p>
     <p><label><input type="checkbox">Ik wens informatie te ontvangen over de nieuwste haarverzorgingsproducten.</label></p>
     <p><label><input type="checkbox">Ik wens informatie te ontvangen over kortingen.</label></p>
    <p>Bericht:</p>
    <p><textarea placeholder="Vul hier uw opmerkingen in."></textarea></p>
    <p><input type="submit" value="Verzenden"></p>
    </div>
</form>
</main>

<footer>
    <a href="https://www.facebook.com/Hair-city-130543194025070">Facebook</a>
    @Html.ActionLink("Contact", "Praktisch", "Home", new { @class = "page-scroll" })
</footer>

