@{
    ViewData["Title"] = "Home Page";
}
<main>
    <article>
        <h2>Home</h2>
        <h3>Haircity</h3>
        <p>Kapsalon Haircity is een kapsalon voor dames, heren en kinderen. In dit kapsalon kunt u terecht voor een nieuw, verzorgd kapsel. Bent u op zoek naar een kapsalon voor de verzorging van uw kapsel? Bij Haircity weten ze precies welk kapsel bij u past. Maak snel een afspraak en kom langs!</p>

        <h3>Sandra Cappe</h3>
        <div class="flex">
            <p>Sandra Cappe heet u van harte welkom op deze website! In 1993 studeerde ze af als kapster in Kessel-Lo. In 2005 heeft ze deze zaak verder gezet. Met haar verworven ervaring en haar liefde voor het vak zet ze jou wensen om in een mooi, verzorgd kapsel. De tevredenheid van haar klanten staat bij haar centraal.</p>

            <img src="~/images/Sandra.jpg" alt="Sandra">
        </div>
    </article>
</main>
<footer>
    <a href="https://www.facebook.com/Hair-city-130543194025070">Facebook</a>
    @Html.ActionLink("Contact", "Praktisch", "Home", new { @class = "page-scroll" })
</footer>
