<main>
<h2>Praktisch</h2>
<div class="flex">
<section id="links">
<h3>Openingsuren</h3>
<p>Enkel op afspraak:</p>
<table class="table2">
    <tr><td>Di-Wo </td><td>8u30-18u00</td></tr>
    <tr><td>Do </td><td>9u00-20u00</td></tr>
    <tr><td>Vr </td><td>8u00-18u30</td></tr>
    <tr><td>Za </td><td>8u00-17u00</td></tr>
</table>
<p>Maandag gesloten.</p>

<h3>Contact</h3>
<p>Tel: 016 62 04 08.</p>
</section>

<section id="rechts">
<h3>Routeplan</h3>
<p>Adres: Gemeentestraat 41, 3210 Linden.</p>

<div id="Map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2516.5876029018777!2d4.768758415567241!3d50.894342663161574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c1679f80050e25%3A0x606b4d7a8e0a850e!2sGemeentestraat+41%2C+3210+Lubbeek!5e0!3m2!1snl!2sbe!4v1479246161781" width="450" height="300" style="border:0" allowfullscreen></iframe>
</div>
</section>
</div>
</main>

<footer>
    <a href="https://www.facebook.com/Hair-city-130543194025070">Facebook</a>
    @Html.ActionLink("Contact", "Praktisch", "Home", new { @class = "page-scroll" })
</footer>


