<main class="table01">
<h2>Tarieven</h2>
<table class="table1">
    <tr>
        <th colspan="2">Knippen dames</th>
    </tr>
    <tr>
        <td>Shampoo, bijknippen(onderhoudssnit), brushing</td>
        <td>&euro; 41,50</td>
    </tr>
    <tr>
        <td>Shampoo, nieuw kapsel, brushing</td>
        <td>&euro; 45,00</td>
    </tr>
    
       <tr> <th colspan="2">Brushing (dames)</th></tr>
    <tr>
        <td>Brushing (shampoo, versteviger, eindfixatie)</td>
        <td>&euro; 26,50</td>
    </tr>
    <tr>
        <td>Brushing + kleurbad</td>
        <td>&euro; 52,50</td>
    </tr>
    <tr>
        <td>Brushing + kleurbad + verzorging</td>
        <td>&euro; 59,00</td>
    </tr>
    <tr>
        <td>Brushing met bijknippen (onderhoudssnit) + kleurbad</td>
        <td>&euro; 67,50</td>
    </tr>
    <tr>
        <td>Brushing met bijknippen (onderhoudssnit) + kleurbad+verzorging </td>
        <td>&euro; 74,00</td>
    </tr>
    <tr>
        <td>Brushing met nieuw kapsel en kleurbad</td>
        <td>&euro; 71,00</td>
    </tr>
    <tr>
        <td>Brushing met nieuw kapsel+kleurbad+verzorging </td>
        <td>&euro; 77,50</td>
    </tr>
    <tr> <th colspan="2">Kleuring</th></tr>
    <tr>
        <td>Bijkleuren (onderhoudskleuring) </td>
        <td>&euro; 32,50</td></tr>
        <tr>
        <td>Bijkleuren (shampoo, verzorging, brushing, versteviger, eindfixatie)</td>
        <td>&euro; 65,50</td></tr>
        <tr>
        <td>Bijkleuren met onderhoudssnit (bijknippen, shampoo, verzorging, brushing, versteviger, eindfixatie</td>
        <td>&euro; 86,50</td></tr>
        <tr>
        <td>Bijkleuren met nieuw kapsel (bijknippen, shampoo, verzorging, brushing, versteviger, eindfixatie)</td>
        <td>&euro; 90,00</td></tr>
        <tr>
        <td>Brushing all-inn en balyage (*vanaf)</td>
        <td>&euro; 73,00</td></tr>
        <tr>
        <td>Brushing balyage, onderhoudssnit (*vanaf)</td>
        <td>&euro; 94,00</td></tr>
        <tr> <th colspan="2">Permanent</th></tr>
        <tr>
        <td>Shampoo, bijknippen (onderhoudssnit) permanent, brushing, verzorging, eindfixatie</td>
        <td>&euro; 90,00</td></tr>
        <tr> <th colspan="2">Kinderkapsel</th></tr>
        <tr>
        <td>Shampoo, knippen, drogen (*volgens leeftijd)</td>
        <td>&euro; 5,50</td></tr>
        <tr> <th colspan="2">Heren</th></tr>
        <tr>
        <td>Shampoo, knippen, gel</td>
        <td>&euro; 23,00</td></tr>
        <tr>
        <td>Shampoo, knippen, drogen, gel</td>
        <td>&euro; 26,50</td></tr>
           <tr> <th colspan="2">Extra</th></tr>
            <tr>
        <td>Rugmassage tijdens het wassen van de haren</td>
        <td>&euro; 3,50</td></tr>
</table>
<p class="zin">Prijzen kunnen wijzigen volgens haarlengte en moeilijkheidsgraad.</p>
</main>
<footer>
    <a href="https://www.facebook.com/Hair-city-130543194025070">Facebook</a>
    @Html.ActionLink("Contact", "Praktisch", "Home", new { @class = "page-scroll" })
</footer>

